* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 30em;
  gap: 1em;
}

input {
  height: 2.5em;
  border-radius: 1em;
  border: none;
  padding: 0 1em;
}

button {
  border-radius: 1em;
  background-color: orange;
  width: 5em;
  height: 2em;
  border: none;
  font-size: large;
  margin-top: 1em;
}

p {
  font-size: large;
}

h4 {
  font-size: large;
}

h2 {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  gap: 2em;
}

.display-container {
  display: flex;
  flex-direction: column;
  margin: 3em;
  gap: 2em;
  align-items: center;
}

.inline {
  display: flex;
  align-items: center;
  gap: 1em;

}

.bg-1 {
  background-color: rgb(159, 237, 201);
}

.bg-2 {
  background-color: rgb(237, 233, 159);
}

.info-container {
  padding: 2em 2em;
  border-radius: 1em;
  width: 30em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn-container {
  display: flex;
  gap: 2em;
}